h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

span.bungee { font-family: 'Archivo Black', sans-serif; }

.app {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.header { 
  font-size: 40px; 
  font-family: 'Archivo Black', sans-serif; 
  background-color: #ff1769;
  color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  padding: 20px;
}
.subheader { font-size: 20px; font-family: 'Archivo Black', sans-serif; }

.link {
  text-decoration: none;
  color: #ff1769;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

.select-container {
}

.select-container select {
  padding: 10px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 30px;
  font-family: 'Archivo Black', sans-serif;
  cursor: pointer;
  color: #ff1769;
  border: 1px solid #ff1769;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.select-container select:focus {
  outline: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-container h2 {
  text-decoration: underline;
}

.listColumn {
  width: 100%;
}

.listColumn table {
  width: 100%;
  font-size: 14px; font-family: 'Helvetica', cursive;
}

.listColumn tr {
  width: 100%;
}

.listColumn td {
  padding-top: 10px;
}